.z-50.fixed.top-0.right-0.m-2.p-3.text-xs.font-mono.text-white.h-6.w-6.rounded-full.flex.items-center.justify-center.bg-gray-700.sm:bg-pink-500.md:bg-orange-500.lg:bg-green-500.xl:bg-blue-500
  .block.sm:hidden.md:hidden.lg:hidden.xl:hidden al
  .hidden.sm:block.md:hidden.lg:hidden.xl:hidden sm
  .hidden.sm:hidden.md:block.lg:hidden.xl:hidden md
  .hidden.sm:hidden.md:hidden.lg:block.xl:hidden lg
  .hidden.sm:hidden.md:hidden.lg:hidden.xl:block xl