%div{"data-controller" => "modal", "data-modal-allow-background-close" => "false"}
  .feedback-modal-button
    %a{"data-action" => "click->modal#open", :href => "#"}
      %span Feedback

  / Modal Container
  .feedback-modal-container.hidden.animated.fadeIn.fixed{"data-action" => "click->modal#closeBackground keyup@window->modal#closeWithKeyboard", "data-target" => "modal.container", :style => "z-index: 9999;"}
    / Modal Inner Container
    .feedback-modal-inner-container
      / Modal Card
      .feedback-modal-wrapper
        .feedback-close{"aria-label" => "Close", "data-action" => "click->modal#close"}
          %i.fas.fa-times
        = render 'feedback/feedback'
        .flex.justify-end.items-center.flex-wrap.mt-6
          %button.bg-red-200.hover:bg-red-300.text-red-900.font-bold.px-2.rounded{"data-action" => "click->modal#close"} Close